body {
  background-color: black;
}
.star {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #000;
  border-radius: 50%;
  animation: zoom 30s alternate infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.8);
  }
}
iframe {
  margin: auto;
  border: none;
}
.apod {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.5rem;
  background-color: transparent;
  margin-top: 1rem;
}
.apod > div {
  width: 350px;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .apod > div {
    margin: auto;
    margin-bottom: 0.25rem;
    min-width: 100vw;
  }
}
